.categoriesSection{
    width: 100%;

    .category{
        position: relative;
        margin: 10px auto;
        width: 95%;
    }

    .catImg{
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
    }

    h1{
        position: absolute;
        bottom: 0;
        padding: 10px 10px 25px 16px;
        border-top-right-radius: 10px;
        font-size: 1.8em;
        font-weight: bold;
        background-color: white;
        color:black;
    }
}