.restaurantHeader{    
    position: relative;

    img{
        width: 100%;
    }

    h5{
        position: absolute;
        bottom: 0;
        padding: 10px;
        border-top-right-radius: 10px;
        font-size: 1.8em;
        font-weight: bold;
        background-color: white;
        color:black;
    }
}

.products{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;

    .productCategory{
        margin-top:30px;

        h2{
            font-size: 1.8em;
        }
    }

    .product{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 2px solid #00000069;

        h3{
            font-size: 1.2em;
        }

        h4{
            font-size: 1em;
            margin: 10px 0;
        }

        h5{
            font-size: 0.8em;
            color:#2196f3;
        }

        span{
            display:none;
        }

        img{
            width: 30%;
            border-radius: 10px;
            align-self: center;
            transition: 0.3s;
        }
    }

    .expanded{
        flex-direction: column-reverse;

        img{
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        .description{
            margin-top:10px;
        }

        span{
            display:flex;
            justify-content: space-between;
            align-items: center;

            .button{
                background-color: #2196f3;
                border: none;
                border-radius: 10px;
                color: white;
                padding: 10px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1em;
            }
        }
    }
}